[Desktop Entry]
Type=Application
Name=Ungoogled Chromium
Exec=/usr/bin/chromium %u
MimeType=x-scheme-handler/unknown;x-scheme-handler/about;x-scheme-handler/https;x-scheme-handler/http;text/html;
